[Unit]
Description=Aperyn Host Runner socket

[Socket]
ListenStream=/var/lib/aperyn-host-runner/runner.sock
SocketUser=%i
SocketMode=0600

[Install]
WantedBy=sockets.target
